@import url(https://fonts.googleapis.com/css?family=Raleway:400,200);

body {
  overflow: hidden;
}
.main {
  background-image: url('../images/bg.jpg');
  background-size: cover;
  height: 100vh;
}
.main:after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.8);
}
h2 {
  color: #fff;
  font-size: 1.5rem;
  font-weight: bold;
  padding: 1rem;
  animation-delay: 1.5s;
  text-transform: uppercase;
  display: block;
  position: relative;
  z-index: 999;
}
h2 span {
  font-weight: bold;
  color: #f4ab01;
  margin-left: 5px;
}
.content {
  position: relative;
  z-index: 999;
}
.action {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  background-color: #2e8a64;
  border: 5px solid #3c5350;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
  box-shadow: 0 0 0 rgba(60, 83, 80, 0.8);
  animation: pulse 3s infinite;
  cursor: pointer;
}
.result {
  overflow-y: scroll;
}
.label {
  color: #212529;
  background-color: #ffc107;
  padding: .25em .4em;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  vertical-align: baseline;
  border-radius: .25rem;
}
i {
  font-size: 1.2rem;
  color: #fff;
  margin-left: 0.1rem;
}
@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(60, 83, 80, 0.8);
  }
  70% {
    -webkit-box-shadow: 0 0 0 10px rgba(60, 83, 80, 0.8);
  }
  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(60, 83, 80, 0.8);
  }
}
@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(60, 83, 80, 0.8);
    box-shadow: 0 0 0 0 rgba(60, 83, 80, 0.8);
  }
  70% {
    -moz-box-shadow: 0 0 0 10px rgba(60, 83, 80, 0.8);
    box-shadow: 0 0 0 10px rgba(60, 83, 80, 0.8);
  }
  100% {
    -moz-box-shadow: 0 0 0 0 rgba(60, 83, 80, 0.8);
    box-shadow: 0 0 0 0 rgba(60, 83, 80, 0.8);
  }
}
.content {
  height: 85%;
}
